fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9
lxml==5.1.0
numpy==1.26.4
tinycss2==1.2.1
cssselect2==0.7.0
cssselect==1.2.0
pillow==10.2.0
scipy==1.12.0
pyyaml==6.0.1
appdirs==1.4.4
networkx==3.2.1
